
body {
font-family:"Georgia",serif;
}
h1 {
font-size:40px;
text-align:center;
}
#wrapper {
position:relative;
width:960px;
height:800px;
margin:0 auto;
}
#footer {
text-align:center;
color:#888;
font-size:9px;
width:100%;
margin-top:30px;
height:30px;
}

/* SUPPORTING TEXT */
#help, #label {
text-align:center;
color:#888;
}
.clock {
font-size:48px;
color:#888;
position:absolute;
}
#clockW {
top:610px;
left:180px;
}
#clockB {
top:610px;
left:680px;
}

/* BOARD */
#board {
border:none;
padding:0;
margin:0 auto;
position:relative;
width:600px;
height:600px;
}
#board div {
height:72px;
}
#board .square {
display:inline-block;
width:72px;
height:72px;
}
#board .square.light {
background:#fff;
}
#board .square.dark {
background:#ccc;
}
#board .square.canMove {
background:#cef;
}

#board .piece {
position:absolute;
padding:12px; /* (72-48)/2 */
}

/* CHESS NOTATION */
#moves {
background:white;
border:none;
left:660px;
width:300px;
height:600px;
}

